body{
    margin: 0;
    padding: 5rem 2rem;
    background-color: rgba(255, 192, 203, 0.1);
    text-align: center;
}

span{
    display: block;
}
header > header, .card-title{
    font-size: 1.5rem;
}
.header-title{
    color: #555;
}
.header-second{
    font-weight: bold;
}
header > section{
    margin: 2rem 0;
}
.card-description, .description{
    color: #777;
}

main > section{
    text-align: start;
    padding: 10%;
    border-radius: 10px;
    border: none;
    border-top: 2px solid red;
    box-shadow: 0 0 20px #ccc;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
img{
    width: 2rem;
    margin: 1rem 0;
    align-self: end;
}
